.Blog {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 10px;
}

.Blog > p {
  padding: 6px;
}

.Blog_title {
  display: flex;
  justify-content: space-between;
}

.Blog_details {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.Blog_authorValue {
  grid-column-start: 2;
  grid-column-end: 4;
}

.Blog_urlValue {
  grid-column-start: 2;
  grid-column-end: 4;
}

.Blog.dark {
  background-color: var(--darker);
}

.Blog.light {
  background-color: var(--light);
}

.Blog > * a {
  color: #ffffff;
}

.Blog.dark > * a:hover {
  color: var(--darker);
  background-color: #ffffff;
}

.Blog.light > * a:hover {
  color: var(--light);
  background-color: #ffffff;
}

.Blog_Button {
  width: fit-content;
  color: #ffffff;
  background-color: var(--dark);
  border-radius: 5px;
  border: 2px solid var(--border);
  font-family: inherit;
  font-size: inherit;
  margin: 6px;
}

.Blog_Button:hover {
  color: var(--dark);
  background-color: var(--background);
}

.Blog_Button:active {
  border: 3px solid var(--background);
}

.Blog_viewButton {
  height: 30px;
  align-self: center;
}
