.Blog {
  display: grid;
  grid-template-columns: 1fr 10fr;
  color: #ffffff;
  padding: 10px;
}

.Blog > p {
  padding: 6px;
}

.Blog.dark {
  background-color: var(--darker);
}

.Blog.light {
  background-color: var(--light);
}

.Blog > * a {
  color: #ffffff;
}

.Blog.dark > * a:hover {
  color: var(--darker);
  background-color: #ffffff;
}

.Blog.light > * a:hover {
  color: var(--light);
  background-color: #ffffff;
}

.Blog_Button {
  width: fit-content;
  color: #ffffff;
  background-color: var(--dark);
  border-radius: 5px;
  border: 2px solid var(--border);
  font-family: inherit;
  font-size: inherit;
  margin: 6px;
}
