body {
  --background: #fbf5f3;
  --border: #0f0e0e;
  --darker: #7b0828;
  --dark: #522b47;
  --light: #8daa9d;
  background-color: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

.App {
  font-size: 18px;
}

.App > h1 {
  background-color: var(--dark);
  color: white;
  padding: 20px;
  margin: 0;
}

.App > p {
  font-size: 20px;
  padding: 20px;
  margin: 0;
}
