.nameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.genderSvg {
  width: 2.125rem;
  height: 2.125rem;
}

.entriesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
