.Blog {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.Blog > p {
  padding: 6px;
}

.Blog_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.Blog_details {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  row-gap: 8px;
  align-items: center;
}

.Blog_value {
  grid-column-start: 2;
  grid-column-end: 4;
}

.Blog.dark {
  background-color: var(--darker);
}

.Blog.light {
  background-color: var(--light);
}

.Blog > * a {
  color: #000;
}

.Blog > * a:hover {
  color: var(--darker);
}

.Blog_Button {
  width: fit-content;
  color: #ffffff;
  background-color: var(--darker);
  border-radius: 5px;
  border: 2px solid var(--border);
  font-family: inherit;
  font-size: inherit;
  margin: 6px;
  cursor: pointer;
}

.Blog_Button:hover {
  color: var(--background);
  background-color: var(--dark);
}

.Blog_Button:active {
  border: 3px solid var(--darker);
}

.Blog_toggleButton {
  font-size: 18px;
  height: 30px;
}

.Blog_comments > h3 {
  margin: 0;
  padding: 20px 0 10px 0;
}

.Blog_comment {
  padding: 10px;
}

.Blog_comment.dark {
  background-color: var(--darker);
  color: #fff;
}

.Blog_comment.light {
  background-color: var(--light);
}
